/*------------------------------------*\
  $ VARIABLES
\*------------------------------------*/
$primary-color: #cc0000;
$secondary-color: #7c0000;

/*------------------------------------*\
  $ GEN
\*------------------------------------*/
html,
body {
  font-size: 62.5%;
  height: 100%; 
}
* {
	box-sizing: border-box;
	margin: 0; padding: 0;
}
body {
	display: flex;
	flex-direction: column;
  
	font-family: 'Roboto', sans-serif;
}
/*------------------------------------*\
  $ CONTAI?ER
\*------------------------------------*/
.content { flex: 1 0 auto; }
.container { 
  margin: 0 auto; padding: 1rem;
}
/*------------------------------------*\
  $ HEADER
\*------------------------------------*/
.app-header {
	background-color: $primary-color;
	box-shadow: 3rem 3rem 1rem #888;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 0;
  }
  .logo {
    margin-bottom: 1rem;
    max-width: 170px;
  }
  input[type='text'] {
    border: #777;
    padding: .8rem;
    width: 100%;
  }
}
/*------------------------------------*\
  $ SUB HEADER
\*------------------------------------*/
.subheader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
  background-color: $secondary-color;
	box-shadow: .3rem .3rem 1rem #888888;
	color: #fff;
	font-size: 1.4rem;
	padding: 1rem;
  position: relative;
  p { 
    margin: .4rem; 
  }
  img {
    position: absolute; top: 50%; right: 1rem;
    transform: translateY(-60%);
    width: 40px; 
  }
}
/*------------------------------------*\
  $ GRID
\*------------------------------------*/
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
  .item {
    display: flex;
    flex-direction: column;

    border: 1px #ccc solid;
    box-shadow: .1rem .1rem .2rem #ccc;
    min-height: 120px;
    padding: 1rem;
    position: relative;
    h4 { 
      font-size: 1.4rem;
      margin-bottom: .5rem; 
    }
    p {
      color: $secondary-color;
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: .2rem;
    }
    img {
      display: block;
      align-self: flex-end;
      
      position: absolute; bottom: .5rem; right: .5rem;
      text-align: right;
      width: 3rem;
    }
  }
}
/*------------------------------------*\
  $ FOOTER
\*------------------------------------*/
.app-footer {
	flex-shrink: 0;
	
  background: #f4f4f4;
	color: #444;
	font-size: 1.4rem;
	margin-top: 1rem;
	padding: 1rem;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      i {
        font-size: 2.2rem;
      }
    }
  }
}
/*------------------------------------*\
  $ SPLASHSCREEN
\*------------------------------------*/
#splash {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
  background: $primary-color;
	height: 100vh; width: 100%;
	opacity: 1;
	position: absolute; top: 0; left: 0;
	transition: opacity 1s;
	z-index: 2;
  img {
    width: 300px;
  }
  &.fade {
    opacity: 0;
  }
}
/*------------------------------------*\
  $ DESKTOP
\*------------------------------------*/
@media (min-width: 768px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}
	.grid .item img {
		width: 60px;
	}
}
